@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 228 11.9048% 16.4706%;
    --foreground: 240 10% 92%;

    --card: 223 12.8571% 27.451%;
    --card-foreground: 228 14.6341% 32.1569%;

    --popover: 245 20% 20%;
    --popover-foreground: 240 10% 92%;

    --primary: 8 100% 68%;
    --primary-foreground: 228 14.6341% 32.1569%;

    --secondary: 215 25% 26.6667%;
    --secondary-foreground: 215 19.3182% 34.5098%;

    --muted: 245 15% 25%;
    --muted-foreground: 240 8% 65%;

    --accent: 320 70% 55%;
    --accent-foreground: 215 16.318% 46.8627%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 245 15% 28%;
    --input: 245 15% 28%;
    --ring: 8 100% 68%;

    --radius: 2.25rem;

    /* Category colors */
    --objection: 7 95% 72%;
    --objection-foreground: 7 95% 72%;

    --proposal: 224 100% 91%;
    --proposal-foreground: 218 13% 48%;

    --pro-argument: 255 8% 89%;
    --pro-argument-foreground: 218 13% 48%;

    --variant: 255 8% 89%;
    --variant-foreground: 218 13% 48%;

    --concern-type: 255 8% 89%;
    --concern-type-foreground: 218 13% 48%;

    --problem: 37 100% 50%;
    --problem-foreground: 0 0% 100%;

    --problem-aspect: 37 100% 50%;
    --problem-aspect-foreground: 37 100% 50%;

    --school: 8 100% 68%;
    --school-foreground: 0 0% 100%;

    /* Action button colors */
    --endorse: 220 13% 16%;
    --endorse-foreground: 0 0% 100%;
    --endorse-hover: 227 100% 73%;
    
    --object: 9 95% 72%;
    --object-foreground: 0 0% 100%;
    
    --vote: 145 45% 55%;
    --vote-foreground: 0 0% 100%;
    
    --question: 220 100% 91%;
    --question-foreground: 231 34% 25%;
    
    --statistics: 328 90% 42%;
    --statistics-foreground: 0 0% 100%;
    
    --new-concern: 16 80% 53%;
    --new-concern-foreground: 0 0% 100%;
    
    --secondary-action: 222 15% 74%;
    --secondary-action-foreground: 231 34% 25%;

    --sidebar-background: 245 25% 15%;
    --sidebar-foreground: 240 10% 92%;
    --sidebar-primary: 8 100% 68%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 245 15% 25%;
    --sidebar-accent-foreground: 240 10% 92%;
    --sidebar-border: 245 15% 28%;
    --sidebar-ring: 8 100% 68%;
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --shadow-sm: 0px 1px 28.25px 5px hsla(214, 30%, 91%, 0.5);
    --shadow: 0px 1px 56.5px 5px hsla(214, 30%, 91%, 0.5);
    --shadow-md: 0px 1px 84.75px 5px hsla(214, 30%, 91%, 0.5);
    --shadow-lg: 0px 1px 141.25px 5px hsla(214, 30%, 91%, 0.5);
  }

  .dark {
    --background: 228 12% 16%;
    --foreground: 240 10% 95%;

    --card: 245 25% 18%;
    --card-foreground: 240 10% 95%;

    --popover: 245 25% 18%;
    --popover-foreground: 240 10% 95%;

    --primary: 8 100% 68%;
    --primary-foreground: 0 0% 100%;

    --secondary: 245 20% 22%;
    --secondary-foreground: 240 10% 95%;

    --muted: 245 20% 22%;
    --muted-foreground: 240 8% 70%;

    --accent: 320 75% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 245 20% 30%;
    --input: 245 20% 30%;
    --ring: 8 100% 68%;

    --objection: 7 95% 72%;
    --objection-foreground: 7 95% 72%;

    --proposal: 224 100% 91%;
    --proposal-foreground: 218 13% 48%;

    --pro-argument: 255 8% 89%;
    --pro-argument-foreground: 218 13% 48%;

    --variant: 255 8% 89%;
    --variant-foreground: 218 13% 48%;

    --concern-type: 255 8% 89%;
    --concern-type-foreground: 218 13% 48%;

    --problem: 37 100% 50%;
    --problem-foreground: 0 0% 100%;

    --problem-aspect: 37 100% 50%;
    --problem-aspect-foreground: 37 100% 50%;

    --school: 8 100% 68%;
    --school-foreground: 0 0% 100%;

    /* Action button colors */
    --endorse: 220 13% 16%;
    --endorse-foreground: 0 0% 100%;
    --endorse-hover: 227 100% 73%;
    
    --object: 9 95% 72%;
    --object-foreground: 0 0% 100%;
    
    --vote: 145 45% 55%;
    --vote-foreground: 0 0% 100%;
    
    --question: 220 100% 91%;
    --question-foreground: 231 34% 25%;
    
    --statistics: 328 90% 42%;
    --statistics-foreground: 0 0% 100%;
    
    --new-concern: 16 80% 53%;
    --new-concern-foreground: 0 0% 100%;
    
    --secondary-action: 222 15% 74%;
    --secondary-action-foreground: 231 34% 25%;

    --sidebar-background: 245 30% 12%;
    --sidebar-foreground: 240 10% 95%;
    --sidebar-primary: 8 100% 68%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 245 20% 22%;
    --sidebar-accent-foreground: 240 10% 95%;
    --sidebar-border: 245 20% 30%;
    --sidebar-ring: 8 100% 68%;
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --radius: 2.25rem;
    --shadow-sm: 0px 1px 28.25px 5px hsla(214, 30%, 91%, 0.5);
    --shadow: 0px 1px 56.5px 5px hsla(214, 30%, 91%, 0.5);
    --shadow-md: 0px 1px 84.75px 5px hsla(214, 30%, 91%, 0.5);
    --shadow-lg: 0px 1px 141.25px 5px hsla(214, 30%, 91%, 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* ---break---
*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}